<h3 class="title">{{ isEdit ? '编辑' : '新增' }}联系人</h3>
<hr />

<form [formGroup]="tagForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label>标签</label>
    <input
      type="text"
      name="title"
      class="form-control {{
        title.invalid && title.touched ? 'is-invalid' : ''
      }}"
      placeholder="输入标签名"
      formControlName="title"
    />
    <div class="invalid-feedback" *ngIf="title.hasError('required')">
      标签不能为空
    </div>
  </div>
  <button type="submit" class="btn btn-secondary">保存</button>
</form>
