<div class="full-page login d-flex justify-content-center align-items-center">
  <form
    [formGroup]="signUpForm"
    (ngSubmit)="onSubmit()"
    novalidate
    class="wrapper d-flex flex-column justify-content-center align-items-center"
  >
    <div class="form-group">
      <label>email</label>
      <input
        type="text"
        name="email"
        class="form-control {{
          email.invalid && email.touched ? 'is-invalid' : ''
        }}"
        placeholder="输入邮箱"
        formControlName="email"
      />
      <div class="invalid-feedback" *ngIf="email.hasError('required')">
        邮箱不能为空
      </div>
      <div class="invalid-feedback" *ngIf="email.hasError('email')">
        邮箱格式错误
      </div>
    </div>
    <div class="form-group">
      <label>password</label>
      <input
        type="text"
        name="password"
        class="form-control {{
          password.invalid && password.touched ? 'is-invalid' : ''
        }}"
        placeholder="输入密码"
        formControlName="password"
      />
      <div class="invalid-feedback" *ngIf="password.hasError('required')">
        密码不能为空
      </div>
      <div class="invalid-feedback" *ngIf="password.hasError('minlength')">
        密码长度不能少于6位
      </div>
    </div>
    <button type="submit" class="btn btn-secondary btn-block">Sign Up</button>
    <div class="message mt-1">
      <small>
        <a class="text-muted" routerLink="/sign-in">已有帐号，去登录。</a>
      </small>
    </div>
  </form>
</div>
